## 测试报告样式

#### 字段解释

* end time:测试结束时间
* 测试应用包名,测试应用版本号
* 设备名,磁盘状态 已用|可用,wifi名称,系统版本,分辨率
* all_case:用例总数,passed:通过数,failed失败数
* case_name:用例名
* case_result:用例结果
* case_img:用例执行后截图
* case_per:会比对上一次与本次的性能状态截图
* case_log:本case全量log
* case_filter_log:筛选后log